<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cupcakes</title>
</head>

<body>

   <h1>See all our cupcakes!</h1>

   <ul id="cupcake-list">
      <!-- {% for cupcake in cupcakes %}
      <li>{{cupcake.flavor}} - <button class="delete" data-id="{{cupcake.id}}">X</button></li>
      {% endfor %} -->
   </ul>

   <h2>Add a new cupcake!</h2>
   <form id="new-cupcake-form">
      <div>
         <label for="form-flavor">Flavor</label>
         <input name="flavor" id="form-flavor" type="text" placeholder="chocolate">
      </div>
      <div>
         <label for="form-size">Size</label>
         <input name="size" id="form-size" type="text" placeholder="small">
      </div>
      <div>
         <label for="form-rating">Rating</label>
         <input name="rating" id="form-rating" type="number" placeholder="9.9">
      </div>
      <div>
         <label for="form-image">Image</label>
         <input name="image" id="form-image" placeholder="(optional)">
      </div>

      <button type="submit">Add!</button>
   </form>

   <!-- <script src="https://unpkg.com/jquery"></script> -->
   <!-- <script src="https://unpkg.com/axios/dist/axios.js"></script> -->
   <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/static/cupcakes.js"></script>
</body>

</html>